@use './breakpoints' as bp;

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip-path: inset(50%);
  white-space: nowrap;
  border: 0;
}

.hidden {
  display: none !important;
}

.invisible {
  visibility: hidden !important;
}

@include bp.down(sm) {
  .hide-sm {
    display: none !important;
  }
}

@include bp.down(md) {
  .hide-md {
    display: none !important;
  }
}
